body {  
  font-family: Arial, sans-serif;  
  background-color: #f4f4f4;  
  color: #333;  
  margin: 0;  
  padding: 20px;  
}  

h1 {  
  text-align: center;  
  color: #444;  
}  

label {  
  font-weight: bold;  
}  

select {  
  margin: 10px 0;  
  padding: 5px;  
  border-radius: 5px;  
  border: 1px solid #ccc;  
  cursor: pointer;
}  

ul {  
  list-style-type: none;  
  padding: 0;  
}  

li {  
  background: #fff;  
  margin: 10px 0;  
  padding: 10px;  
  border-radius: 5px;  
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);  
}  

li:hover {  
  background: #eaeaea;  
}  
   